<header>
  <div class="header-logo">
  <a href="/">SpeakerApp</a> 
  </div>
  <ul class="header-menus">
    <li>
    <a href="/about">SpeakerAppとは</a>
    </li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>The world is connected by voice</h2>
    <p>今の気持ちをつたえよう！</p>
  </div>
</div>